html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightgreen;
    margin: 16px;
}

input {
    width: 16px;
    height: 16px;
}

#subtitle {
    color: gray;
}

#options-text {
    margin: 0;
}

#change-grid-btn {
    border: 2px solid black;
    border-radius: 4px;
    background-color: mediumpurple;
    padding: 8px 24px;
    margin-bottom: 24px;
    font-size: 24px;
}

.header {
    margin: auto;
    padding-bottom: 8px;
}

.header > * {

    margin: 0;
}

.content {
    background-color: #e5fce5;
    padding: 24px 0;
}

.options-container {
    display: flex;
    justify-content: center;
}

.option {
    padding: 8px 16px;
    margin: 0 8px 8px 8px;
}

.grid-container {
    border: 4px solid black;
    margin: auto;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    background-color: white;
    border: 1px dotted black;
}